@charset "UTF-8";

:root {
    font-size: 15px;
    line-height: 25px;
}

body {
    line-height: 1.6666667rem;
}

/* ヘッダー */
a {
    color:#333333;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}

a img {
    border: none;
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

h3 {
    font-size: 1.5rem;
    margin:0 0 1rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    margin: 0 0 1rem;
}

img {
    width: 50%;
    border: none;
}

.container {
    padding: 1rem 2rem;
    max-width: 100%;
}

header {
    height:520px;
}

section {
    margin: 2rem 0;
}

footer {
    background-color: #F6F6F6;
}

.work-contents img {
    margin: 0 0 1rem;
    max-width: 100%;
    height: auto;
}

.work-contents h3 {
    color: #333333;
}

.work-contents p {
    font-size: 1.0rem;
    line-height: 1.35;
    color: #333333;
}

header {
    background-image: url(../image/kokeshi7.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 520px;
}